@using WeatherApp.Models;
@using WeatherApp.Clients;
@using System.Web;
@using WeatherApp.Shared;
@using WeatherApp.Shared.Components;
@using System.Collections.Generic; 
@using WeatherApp.Pages;
@using Microsoft.AspNetCore.Components.Forms;


@inject WeatherClient WeatherClient;



@page "/"

<PageTitle>Index</PageTitle>
<style>
    body {
        
        @* background-image: linear-gradient(rgb(47, 79, 79), rgb(208, 208, 208)); *@
        
    }
</style>

<!-- Show initial popup to get location -->
@if (!@isLocation) {
    <div class="index-weather">
    <EditForm Model="@locationModel" OnSubmit="@selectLocation"> 
        <h1 class="index-header">Weather Forecast</h1>
        <br/>
        <p style="text-align: center;">Enter Location</p>
        <div  class="text-center">
            <input class="location-input" @bind="newLocation"/>
        </div>
        <br/>
        <div class="col text-center" >
            <button type="button" class="btn btn-info">Show me the weather!</button>
        </div>
    </EditForm>
    </div>
} else {
    <div class="index-container">
        <ForecastHeader city="@city" state="@state" onClick="changeLocation"/>
        <!-- Conditions -->
        <DailyForecast forecast="@forecast" dateTime="@dateTime" current="@current"/>
        <br/>
        <!-- Alerts -->

        @if (alerts != null && alerts.alert.Count != 0) {
            <h2 style="margin: 0px 10px 0px 10px;">Alerts in your area:</h2>
            @foreach (WeatherResponse.Alert alert in alerts.alert) {
                <br/>
                <div class="alert-container">
                    <details style="cursor: pointer;">       
                        <summary style="list-style: none;font-family:Comic Sans MS; padding-right: 20px;">
                            <p>@alert.headline</p>
                            @if(alert.areas != "") {
                                <p>Effected Areas: @alert.areas<br/></p>
                            }
                            <p>Effective Dates: @alert.effective.ToString("MM/dd/yyyy") - @alert.expires.ToString("MM/dd/yyyy")</p>
                        </summary>
                        <p>@alert.desc</p>
                        <p>@alert.instruction</p>
                    </details>
                </div> 
            }
        }
    </div>
}

@code {
    private WeatherResponse? weatherResponse = null;
    
    //private WeatherApp.Shared.CookieStorageAccessor cookie = new WeatherApp.Shared.CookieStorageAccessor();
    // Variables for use on the page
    private WeatherResponse response = null;
    private string city;
    private string state;
    private string description;
    private string currentURL;
    private bool isLocation = false;
    private WeatherResponse.Current current;
    private DateTime dateTime;

    private WeatherResponse.Forecast forecast;
    private WeatherResponse.Alerts alerts;
    private LocationModel locationModel = new();


     protected override async Task OnInitializedAsync()
     {
        
        //CookieStorageAccessor cookie = new CookieStorageAccessor(new IJSRuntime());
        //cookie.SetValueAsync("location","Durango, Co");
        //HttpCookie cookie = Request.Cookies("LocationCookie");
        //var savedLocation = cookie.GetValueAsync("location");
        
        weatherResponse = await WeatherClient.getWeather("forecast",null, null, null);
        response = weatherResponse;
        asignVariables(response);
        isLocation=true;
         
    }
    
    private string? newLocation;
    private async Task selectLocation() {
 
        if (!string.IsNullOrWhiteSpace(newLocation)) {
            weatherResponse = await WeatherClient.getWeather("forecast",newLocation, null,null);
            newLocation = string.Empty;
            asignVariables(weatherResponse);
            isLocation=true;
        }
    }

    private void asignVariables(WeatherResponse response) {
        city = response.location.name;
        state = response.location.region;
        description = response.current.condition.text.ToLower();
        forecast = response.forecast;
        currentURL = response.current.condition.icon;
        alerts = response.alerts;
        current = response.current;
        dateTime = Convert.ToDateTime(response.location.localtime);    
    }

    private void changeLocation(){
        isLocation = false;
    }

    @* private string GetUserIP()
    {
                if (HttpContext.Current != null){
            var request = HttpContext.Current.Request;
        }   
        string ipList = request.ServerVariables["HTTP_X_FORWARDED_FOR"];

        if (!string.IsNullOrEmpty(ipList))
        {
            return ipList.Split(',')[0];
        }

        return Request.ServerVariables["REMOTE_ADDR"];
    } *@

    @* private void setCookie(String location) {
        private HttpCookie locationCookie = new HttpCookie("LocationCookie");
        locationCookie.Value = location;
        locationCookie.Expires = now.AddYears(1);
        Response.Cookies.Add(locationCookie);
    }  *@




}

